# Fichiers Python
.venv/
__pycache__/
*.py[cod]

# Tes logs et bases de données et images
*.log
*.csv
*.json
*.csv
images/
videos/
tools/
INSTRUCTIONS.md
todo.txt
DAN-todo.txt

# Dossier VS Code
.vscode/