# Fichiers Python
.venv/
__pycache__/
*.py[cod]

# .json du root
/*.json 
!/**/ *.json

# Dossiers a ignorer
images/
dist/
!assets/images/
videos/
tools/
build/
backups/

# Fichiers a ignorer
INSTRUCTIONS.md
todo.txt
DAN-todo.txt
*.log
*.csv

# Dossier VS Code
.vscode/