# Fichiers Python
.venv/
__pycache__/
*.py[cod]

# Tes logs et bases de données et images
*.log
*.csv

# retire les json du root
/*.json 
# mais garde ceux des sous-dossiers
!/**/ *.json

# Dossiers a ignorer
images/
!assets/images/
videos/
tools/
INSTRUCTIONS.md
todo.txt
DAN-todo.txt

# Dossier VS Code
.vscode/